@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1c2bd6; /* Blue color for divs and elements */
  --foreground: #333b55; /* Dark gray-blue for font color */
  --accent-color: #f0f0f0; /* Light Gray for softer accents */
  --container-bg: #f7f7f7; /* Light Gray for container background */
  --custom-border-color: #1c2bd6; /* Blue border */
  --box-shadow-container: 0 4px 10px rgba(28, 43, 214, 0.2); /* Light shadow for containers */
  --text-color:#ffffff
}

body {
  background-color: var(--container-bg); /* Light gray background for the page */
  color: var(--foreground); /* Dark gray-blue for the text */
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease-in-out;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container-bg {
  background: #1c2bd6; /* Solid blue background */
  box-shadow: 6px 6px 15px rgba(28, 43, 214, 0.4); /* Soft blue shadow */
  border: 2px solid var(--custom-border-color);
  padding: 20px;
  border-radius: 12px;
}


p {
  color: var(--text-color); 
  font-weight: 500;
}
h3{
  color: var(--text-color); 
}
.section-title {
  @apply relative mx-auto px-6 py-2 text-white text-lg font-semibold rounded-lg shadow-md inline-block mb-10;
  background-color: var(--primary-color); /* Blue background for section titles */
}

.section-title::before,
.section-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 60px;
  height: 2px;
  background: var(--primary-color); /* Blue underline accents */
}

.section-title::before {
  left: -70px;
}

.section-title::after {
  right: -70px;
}

.button-primary {
  background-color: var(--primary-color); /* Blue for buttons */
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.button-primary:hover {
  transform: scale(1.05);
  opacity: 0.9;
  background-color: #173db4; /* Slightly darker shade of blue for hover effect */
}

.rounded-buttons {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background-color: inherit;
  transition: background-color 0.2s ease;
}

.rounded-buttons:hover {
  background-color: #e60000; /* Red for button hover effect */
}
